#game-name{
  text-align: center;
}

#game-title{
  text-align: center;
}

#add-review-button{
  width: 100%;
}

#back-review{
  text-align: right;
  margin-top: 10px;
}

#go-add-review{
  margin-bottom: 10px;
  width: 100%;
}

#rating-5{
  color: green;
  font-weight: bold;
}

#rating-4{
  color: #96c765;
  font-weight: bold;
}

#rating-3{
  color: orange;
  font-weight: bold;
}

#rating-2{
  color: #d46b48;
  font-weight: bold;
}
#rating-1{
  color: red;
  font-weight: bold;
}

